<%= link_to "New Post", new_post_path %>

<% @posts.each do |whatever| %>

  <h1><%= link_to whatever.title, whatever %></h1>
  <h4><%= whatever.summary %></h4>
  <%= link_to "Delete with extreme prejudice", whatever, method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>
