<div class="row">
  <div class="col-xs-4">
    <h1><%= @message %></h1>
  </div>
  <div class="col-xs-4 pull-right">
    <h2><%= @subtitle %></h2>
    <ul>
      <% @things_that_suck.each do |thing| %>
        <li>
          <%= link_to thing, marketing_path(thing: thing) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
