<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= lipsum_wanted %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Statistics</h1>
        <ul>
          <% stats.each do |stat| %>
            <li>
              <%= stat %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="row">
        <% output.each do |paragraph| %>
          <div class="col-xs-3">
            <p><%= paragraph %></p>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
